.card {
    font-family: sans-serif;
    max-width: 1000px;
    background: black;
    margin: 0 auto 15px;
}
.card--gray {
    color: #71767a;
}

.card--margin {
    margin: 5px 0;
}

.card__wrapper {
    color: #e7e9ea;
    padding: 10px 25px;
}
.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__header__left {
    display: flex;
    align-items: center;
}

.card__name {
    margin-right: 15px;
    font-weight: 700;
    font-size: 18px;
}

.card__title {
    text-transform: uppercase;
}
.card__delete {
    border: none;
    background: none;
}
.card__delete svg {
    width: 24px;
    height: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(255, 217, 0);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}